

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.card {
    background: #e2e2ed;
    padding: 1rem;
    border-radius: 3vmin;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 26px 18px 26px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2rem;
    color: #2e7d32;
    margin-top: 1rem;
}
.subtitle {
    font-size: 1.5rem;
    color: #2e7d32;
    margin-top: 1rem;
    font-weight: bold;
}

.form {
    margin: 7.5%;
}

.form input {
    display: block;
    width: 100%;
    margin: 2.5vmin 0;
    padding: 1.75vmin 0;
    border-radius: 2vmin;
    border: 1px solid #ccc;
    font-size: 60%;
    text-indent: 0.6vw;
}


.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-top: 1.5rem;
}

.buttons button{
    max-width: 45%; /** 45, because gap = 10%; 2 Elements wdith + gap = 100% => (100-gap)/2=Element width = (100%-10%)/2=45% ***/
    

}

button {
    flex: 1 1;
    padding: 2vmin;
    font-size: 60%;
    border: none;
    border-radius: 1.5vmin;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.join {
    background-color: #4caf50;
    color: white;
}

button.join:hover {
    background-color: #388e3c;
}

button.create {
    background-color: #2196f3;
    color: white;
}

button.create:hover {
    background-color: #1976d2;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.logo-img {
    margin: 5% 0 -10% 0;
    width: 22vh;
        height: 22vh;
        max-width: 100%;
        max-height: min-content;
        display: inline-block;
}

