.img-container {
    width: 40%;
    margin: 2% 0% 2% 2%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.img-wraper {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 7% 0 7%;
}

.img {
    max-width: 100%;
    height: auto;
    box-shadow: rgb(47 46 49) 1rem 1.0rem 1.5rem;   
}

.img:hover {
    cursor: zoom-in;
    /* or pointer, grab, etc. */
}

.border {
    border-radius: 0.75rem;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
}

.leaflet-control-zoom-in > span{
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
}

.leaflet-control-zoom-out>span {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
}


.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}